.uni1,
.uni2   {
    
    
    font-family: Helvetica, "Times New Roman", sans-serif;
    
    font-size: 40px;

}
.uni1{
    background-color: black;
    color: white;
}
.uni2{
    background-color: yellow;

}